@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@config "../tailwind.config.js";
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  @apply max-w-[540px] bg-white mx-auto
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}

.font-aclonica {
  font-family: "Aclonica", sans-serif !important;
}

button {
  @apply cursor-pointer
}

.custom_button {
  @apply bg-greens-900 hover:bg-white hover:text-greens-900 border border-greens-900 duration-300
}

.scroll-none::-webkit-scrollbar {
  @apply hidden
}

.bg-100 {

  background-size: 100% 100%;
}

@theme inline {
  --color-white-low: #FDFDFD;
  --color-white-100: #F0F0F0;
  --color-white-200: #F0F1F2;
  --color-greens-100: #53B175;
  --color-greens-200: #12E77F;
  --color-greens-900: #01BE62;
  --color-blacks-100: #181725;
  --color-blacks-200: #010101;
  --color-blacks-300: #030303;
  --color-greys-dark-400: #575C57;
  --color-greys-100: #F2F3F1;
  --color-greys-200: #7C7C7C;
  --color-greys-300: #E2E2E2;
  --color-greys-400: #838483;
  --color-greys-500: #C1C6C3;
  --color-greys-600: #A0A0A1;
  --color-greys-700: #E9ECE9;
  --color-greys-800: #D9D9D9;
  --color-greys-900: #E1E1E1;
  --color-greys-1000: #3E423F;
  --color-greys-1100: #8E8E8E;
  --color-greys-1200: #575757;
  --color-greys-1300: #D1D1D1;
  --color-yellows-100: #FEF700;
  --color-yellows-200: #F8A44C;
  --color-reds-100: #FFE8E8;
  --color-reds-200: #FFE8E8;
  --color-reds-900: #FF3131;
  --color-blues-300: #37474F;
  --spacing-130: 130%;
  --shadow-bottom-bar: 0px -12px 37px 0px #E6EBF380;
  --shadow-category: 0px 4px 88px 0px #0000000D;
}



/* Shadows */
.shadow_low_black {
  @apply shadow-low_black;
}



.landing_hero_swiper .swiper-pagination-bullet {
  @apply !w-2.5 !h-2.5 !opacity-30 !bg-white
}

.landing_hero_swiper .swiper-button-disabled {
  @apply hidden
}

.landing_hero_swiper #nextDetail.swiper-button-disabled~a {
  @apply block
}

.landing_hero_swiper .swiper-pagination-bullet-active {
  @apply w-10 !rounded-lg !opacity-100 !bg-white
}

.transparent-green-border-button {
  @apply border border-greens-900 rounded font-semibold text-black py-3.5 block text-center mt-8 hover:text-white hover:bg-greens-900 duration-300
}


.slider-grocery .swiper-pagination-bullet {
  @apply !w-1 !h-1 !opacity-30 !bg-blacks-300
}

.slider-grocery .swiper-pagination-bullet-active {
  @apply !bg-greens-900 !w-3.5 !rounded !opacity-100
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#nprogress .bar {
  @apply hidden
}

#nprogress .spinner {
  right: unset !important;
  top: 7px !important;
  margin-left: 12px;
}